<div class="section" id="extra-curicular">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-1 title">Extra Curricular Activities</div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-lg-4 col-md-12" *ngFor="let extra of extras">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <figure class="cc-effect">
                  <img src={{extra.img}} alt="Image" />
                  <figcaption>
                    <!-- <div class="h4">{{extra.title}}</div> -->
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>