<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
        <!-- <video id="background-video" autoplay loop muted>
          <source src="assets/images/cover-vid.mp4" type="video/mp4">
          </video> -->
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/jobi.jpg" alt="Image" />
            </a>
          </div>
          <h1 class="h2 title">Jobi Jose</h1>
          <p class="category text-white">Senior Software Engineer – L3</p>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/jobi.jose.90/"
              target="_blank" rel="tooltip" title="Follow me on Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/imjobijose/"
              target="_blank" rel="tooltip" title="Follow me on Instagram">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/jobi-jose-62745b136/"
              target="_blank" rel="tooltip" title="Follow me on Linkedin">
              <i class="fa fa-linkedin"></i>
            </a>

            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/JobiJose123"
              target="_blank" rel="tooltip" title="Follow me on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
           
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/jobz123/portfolio"
              target="_blank" rel="tooltip" title="Follow me on Github">
              <i class="fa fa-github"></i>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>